.p {
    background-color: #FFA7A7;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.p.no3{
    font-size: 24px;
}

#no2 {
    color: #0000FF;
    font-size: 36px;
}

#no4 {
    background-color: #80FF80;
    font-size: 24px;
    font-weight: bold;    
}

