body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* solution 
Note: I know its not good practice to dupe rules but this
is to easily compare my solution vs the provided solution
*/

body {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
}

.text {
  margin-left: 16px;
}

.content {
  display: flex;
  flex: 1; /* take up non-header/footer space */ 
}

.sidebar {
  flex: 0 0 300px;
  padding: 16px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cards {
  display: flex;
  /* flex: 1; default, effectively sets the width of the container (which is where our wrap begins)*/
  flex-wrap: wrap;
  gap: 32px;
  padding: 48px;
}

.card {
  width: 300px;
  height: 225px;
  padding: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
